*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-size: 12pt;
    font-family: SF Mono, monospace;
    background-color: #cbcbf6;
    padding: 20px;
}

#status {
    color: #c59a23;
}

#status[data-status="connected"] {
    color: #6bcb61;
}

#status[data-status="disconnected"] {
    color: #ff0000;
}

#status[data-status="connected"]::before {
    background-position: left center;
}

#status[data-status="disconnected"]::before {
    background-position: right center;
}