<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>💣 Minesweeper Online</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <link rel="stylesheet" href="/static/css/minesweeper_general.css"/>
</head>
<body>
<div>
    Статус веб-сокета: <span id="status">Подключение по веб-сокету выключено</span><br>
</div>
<div id="start_form">
    <div style="display:flex; justify-content:center; align-items:center;">
        <div>
            <input hx-get="/" hx-headers='{"redirect_url": "/create_game"}' type="button" value="Создать игру"/>
        </div>
        <br>
    </div>
    <br>
    <div style="display:flex; justify-content:center; align-items:center;">
        <form>
            <input placeholder="Либо введите код игры" name="game_code" hx-get="/"
                   hx-headers='{"redirect_url": "/create_game"}'/>
        </form>
        <div id="content"></div>
    </div>
</div>
</body>

